services:
  backend:
    build: .
    env_file: ".env"
    ports:
      - 8282:${PORT}
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    env_file: ".env"
    image: "postgres:latest"
    ports:
      - "5432:5432"
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready", "-d", "db_prod" ]
      interval: 5s
      timeout: 60s
      retries: 5
  pgadmin4:
    image: "dpage/pgadmin4:latest"
    env_file: ".env"
    ports:
      - 180:80
      - 1443:443
    depends_on:
      postgres:
        condition: service_healthy
  broker:
    image: "eclipse-mosquitto"
    ports:
      - "1883:1883"
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf